<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<table class="table table-hover ">
			<thead>
				<tr>
					<th>ID</th>
					<th>Cliente</th>
					<th>Prestamo</th>
				</tr>
			 </thead>
			 <tbody>
				 <% @loan.each do | l | %>
				 	<tr>
				 		<td><%= link_to l.id, l %></td>
				 		<td><%= l.name %></td>
				 		<td><%= l.loan %></td>
				 	</tr>
			 	<% end %>
			 </tbody>
			  <tfoot>
			    <tr>
			      <td><%= link_to "New", loan_new_path %></td>
			    </tr>
			  </tfoot>
		</table>
	</div>
</div>
	
