<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<table class="table table-hover ">
			<thead>
				<tr>
					<th>Empresa</th>
					<th>Prestamos</th>
					<th>$</th>
				</tr>
			 </thead>
			 <tbody>
			 	<tr>
			 		<td>Hola</td>
			 		<td>10</td>
			 		<td>2000$</td>
			 	</tr>
			 	<tr>
			 		<td>Hola</td>
			 		<td>10</td>
			 		<td>2000$</td>
			 	</tr>
			 	<tr>
			 		<td>Hola</td>
			 		<td>10</td>
			 		<td>2000$</td>
			 	</tr>
			 </tbody>
		</table>
	</div>
</div>
	
